/*Home Page CSS Layout*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Gadget, sans-serif;
  background-color: #221f20;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-image: url("images/background.png");
}

header {
  height: 90px;
  width: 100%;
  background-color: #450d0f;
}

#logo {
  margin: 10px;
  margin-left: 25px;
  width: 90px;
}

ul {
  position: absolute;
  display: flex;
  top: 25px;
  left: 40%;
  right: 40%;
  padding-bottom: 30px;
  width: 90%;
  height: 15px;
}

ul li {
  font-size: 23px;
  float: left;
  list-style-type: none;
  margin-right: 50px;
  transition: 0.5s;
}

ul li a {
  text-decoration: none;
  color: #f2f2f2;
  display: block;
  position: relative;
  padding: 5px;
  transition: 0.5s;
}

ul:hover li a {
  transform: scale(1.5);
  opacity: 0.8;
  filter: blur(5px);
}
ul li a:hover {
  transform: scale(1.75);
  opacity: 1;
  filter: blur(0);
}
ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5f5d5d;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}
ul li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

p.music {
  color: #f2f2f2;
  text-align: center;
  font-family: Arial, Gadget, sans-serif;
  font-size: 50px;
  margin-top: 30px;
}

table.music {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.album {
  color: #f2f2f2;
  font-family: Arial, Gadget, sans-serif;
  font-size: 30px;
}

.img {
  width: 70%;
  height: auto;
  left: 50%;
}

.left {
  text-align: center;
}

.right {
  background-color: #450d0f;
  width: 40%;
  right: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: center;
}

.listen {
  color: #f2f2f2;
  text-align: center;
  font-family: Arial, Gadget, sans-serif;
  font-size: 20px;
}

.link {
  width: 80%;
  height: auto;
  margin: 10px;
}

/*Subscribe*/
div.subscribe {
  background-color: #450d0f;
  height: 200px;
}

.subscriber {
  margin-left: 15%;
}

.mail {
  color: #5f5d5d;
  font-size: 30px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}
form {
  margin-left: auto;
  margin-right: auto;
}
input[type="email"] {
  width: 50%;
  padding: 12px 20px;
  margin: 16px;
  display: inline-block;
  background-color: #5f5d5d;
  border-style: solid;
  border-color: #8a1a1f;
  color: #f2f2f2;
  font-size: 20px;
  box-sizing: border-box;
}
::placeholder {
  color: #f2f2f2;
}
input[type="submit"] {
  width: 20%;
  padding: 12px 20px;
  margin: 16px;
  display: inline-block;
  background-color: #5f5d5d;
  border-style: solid;
  border-color: #8a1a1f;
  color: #f2f2f2;
  font-size: 23px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  width: 20%;
  padding: 12px 20px;
  margin: 16px;
  display: inline-block;
  background-color: #f2f2f2;
  border-style: solid;
  border-color: #5f5d5d;
  color: #8a1a1f;
  font-size: 23px;
  box-sizing: border-box;
  transition: 0.5s ease;
}

.footer {
  background-color: #450d0f;
  height: 55px;
  color: #5f5d5d;
  text-align: center;
  font-size: 18px;
}
